/*Debug*/
.debug{
    border: 1px solid red;
}

/*Font*/
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*ID*/
#logo {
    width: 50px;
}
#form{
    margin-left: inherit;
}
#form-padding{
    padding-left: 2%;
}

/*Selectors*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
tbody tr td:nth-child(4){
    min-width: 110px;
}

#form{
    margin-left: inherit;
}
