/*Debug*/
.debug{
    border: 1px solid red;
}

/*Font*/
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*ID*/
#logo {
    width: 50px;
}
#form{
    margin-left: inherit;
}
#form-padding{
    padding-left: 2%;
}

#nameSurname div p, #info div p{
    margin-bottom:.5rem;
}
#title p{
    margin-bottom: 0.5rem;
}
#title{
    margin-top: 0.75rem;
}
.subtitle{
    font-size: 0.8em;
    color: rgb(93, 93, 93);
}
.greyline{
    border: 2px solid rgba(128, 128, 128, 0.182);
    width: 100%;
}


/*Selectors*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
tbody tr td:nth-child(4){
    min-width: 110px;
}

#form{
    margin-left: inherit;
}
